<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="article (author)">
    <h1 class="Middle-title" th:text="${author.getName()}">Борис Васильевич Бедный</h1>
    <article class="Article">
        <div class="sdf"></div>
        <div class="Spoiler">
            <div class="Spoiler-visible">
                <div class="pict pict_left">
                    <img th:src="${author.getPhoto()}" src="/assets/img/content/main/card.jpg" alt="card.jpg"/>
                </div>
                <div>
                    <h2>Биография</h2>
                    <p>
                        <span th:text="${author.getPartDecription(1)}"></span>
                    </p>
                </div>
            </div>
            <div class="Spoiler-hide">
                <p>
                    <span th:text="${author.getPartDecription(2)}"></span>
                </p>
            </div>
            <div class="Spoiler-footer">
                <button class="Spoiler-trigger btn btn_primary btn_nr" type="button" data-showtext="Свернуть" data-hidetext="Показать полностью"></button>
            </div>
        </div>
    </article>
</div>
</html>