<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:fragment="panel">
    <div class="ProductCard-cart">
        <div class="ProductCard-cartElement">
            <button class="btn btn_primary btn_outline"
                    data-sendstatus="KEPT"
                    th:attr="data-bookid = ${book.getId()}"
                    data-bookid="[1111]"
                    data-btntype="check"
                    data-btnradio="buyblock"
                    data-check="false"
                    data-alttext="Отложена">
                <span class="btn-icon">
                    <img src="/assets/img/icons/heart.svg" alt="heart.svg"/>
                </span>
                <span class="btn-content">Отложить</span>
            </button>
        </div>
        <div class="ProductCard-cartElement">
            <button class="btn btn_primary btn_outline"
                    data-sendstatus="CART"
                    th:attr="data-bookid = ${book.getId()}"
                    data-bookid="[1111]"
                    data-btntype="check"
                    data-btnradio="buyblock"
                    data-check="false"
                    data-alttext="В корзине">
                <span class="btn-icon">
                    <img src="/assets/img/icons/shopping-basket.svg" alt="shopping-basket.svg"/>
                </span>
                <span class="btn-content">Купить</span>
            </button>
        </div>
    </div>
    <div class="ProductCard-cart">
        <div class="ProductCard-cartElement">
            <a class="btn btn_primary btn_outline" href="#">
                <span class="btn-icon">
                    <img src="/assets/img/icons/download.svg" alt="download.svg"/>
                </span>
                <span class="btn-content">Скачать</span>
            </a>
        </div>
        <div class="ProductCard-cartElement">
            <button class="btn btn_primary btn_outline"
                    data-sendstatus="ARCHIVED"
                    th:attr="data-bookid = ${book.getId()}"
                    data-bookid="[1111]"
                    data-btntype="check"
                    data-btnradio="buyblock"
                    data-check="false"
                    data-alttext="Вернуть из архива">
                <span class="btn-icon">
                    <img src="/assets/img/icons/archive.svg" alt="archive.svg"/>
                </span>
                <span class="btn-content">В архив</span>
            </button>
        </div>
    </div>

    <div id="myPopup">
        <p>Ссылки для скачивания</p>
        <div th:each="bookFile : ${book.getBookFileEntities()}">
            <a th:href="${'/books/download/' + bookFile.getHash()}" th:text="${bookFile.getBookFileExtensionString()}"></a>
        </div>
        <span id="myPopup__close" class="close">👍</span>
    </div>
    <div id="myOverlay"></div>

</div>
</html>